* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
}

.product-image {
  margin-bottom: 10px;
  max-width: 290px;
}

.product-image img {
  border-radius: 16px;
  max-width: 100%;
}

.product-info h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  margin-bottom: 5px;
}

.product-info p {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  gap: 30px;
}

.new-arrivals {
  max-width: 1200px;
  margin: 0 auto;
}

.new-arrivals h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 57px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .products-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
